:root {
  --primary-color: #0a3d62; /* ox blood */
  --secondary-color: #3c9ee7; /* white */
  --accent1-color: #1c2833; /* pink */
  --accent2-color: #f7931e; /* sand*/
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: robotat, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

header img {
    width: 100px;
    height: auto;
    padding: 10px;
  }

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul li a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

header, main, footer{
    width: 840px;
    margin: o auto;
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

.hero {
  position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }

.hero article img {
    float: right;
    width: 150px;
    height: auto;
}

.hero article{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 10px;
    background-color: rgba(0,0,0,0.5);
    padding: 0.5rem;
    border-radius: 8px;
    color: #fff;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff; /* white text – make sure there is enough contrast with the background-color */
}

h1{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 7px;
    padding: 20px;
    display: grid;
}
footer{
    display: grid;
    grid-template-columns: auto 200px;
    align-items: center;
    color: var(--accent1-color);
}

.socialmedia{
    display: flex;
    justify-content: space-evenly;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img{
    width: 30px;
    height: 30px;
}